body{background: rgb(216,192,166);
    background: -moz-linear-gradient(45deg, rgba(216,192,166,1) 0%, rgba(206,164,130,1) 90%);
    background: -webkit-linear-gradient(45deg, rgba(216,192,166,1) 0%, rgba(206,164,130,1) 90%);
    background: linear-gradient(45deg, rgba(216,192,166,1) 0%, rgba(206,164,130,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8c0a6",endColorstr="#cea482",GradientType=1);
    width: 100vw;
    height: 100vh;
    margin:0;
    position: relative;
}
body::before{
    content: '';
    display: block;
    width: 15%;
    background-color:#db6237;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

}
.orange{background-color: #db6237;}
.inner{margin-left: 15%;}
h1.title {
    margin: 0;
    font-size: 13vw;
    letter-spacing: .25rem;
    border-bottom: 5px solid #2d1e19;
    border-top: 5px solid #2d1e19;
    padding: 1rem 0;
    color: #fff;
}