body{background: rgb(216,192,166);
    background: -moz-linear-gradient(180deg, rgba(216,192,166,1) 0%, rgba(206,164,130,1) 90%);
    background: -webkit-linear-gradient(180deg, rgba(216,192,166,1) 0%, rgba(206,164,130,1) 90%);
    background: linear-gradient(180deg, rgba(216,192,166,1) 0%, rgba(206,164,130,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8c0a6",endColorstr="#cea482",GradientType=1);
    width: 100vw;
    height: 100vh;
    margin:0;
    position: relative;
}
body::before{
    content: '';
    display: block;
    width: 25%;
    background-color:#db6237;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

}
.orange{background-color: #db6237;}
.inner{position: relative;z-index: 1;}
h1.title {
    margin: 0;
    font-size: 10vw;
    letter-spacing: .25rem;
    padding: 1rem 0;
    color: #fff;
    padding: 2rem 2.5rem;
    position: relative;
}


.body{position:relative;overflow:hidden;}
.main,.middle-tri{position:relative;padding-left:25%}
.title:before, .title:after{
  content:'';
  position:absolute;
  border-left:5px solid black;
  border-bottom:5px solid black;
  border-top:5px solid black;
  top:0;
  transform: skew(20deg, 0);
   left: 0;
  right:0;
  bottom:0;
  background-color:db6237;
  z-index:-1;
   transform-origin: bottom left;
}
.title:after{
  transform: skew(25deg, 0);
  z-index:-2;
  left:2.25rem; 
  transform-origin: bottom right;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 15%, rgba(255,255,255,0) 35%);
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 15%, rgba(255,255,255,0) 35%);
  background: linear-gradient(45deg, rgba(0,0,0,1) 15%, rgba(255,255,255,0) 35%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);ck;

}
.middle-tri, .top-tri{color:transparent!important;}
.middle-tri::before{left:-4.5rem;bottom:-5px;background: rgb(216,192,166);
    background: -moz-linear-gradient(45deg, rgba(216,192,166,1) 40%, rgba(206,164,130,0.038252801120448154) 69%);
    background: -webkit-linear-gradient(45deg, rgba(216,192,166,1) 40%, rgba(206,164,130,0.038252801120448154) 69%);
    background: linear-gradient(45deg, rgba(216,192,166,1) 40%, rgba(206,164,130,0.038252801120448154) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8c0a6",endColorstr="#cea482",GradientType=1);}
.top-tri::before{left:-9rem;bottom:-5px;background: rgb(216,192,166);
    background: -moz-linear-gradient(45deg, rgba(216,192,166,1) 40%, rgba(206,164,130,0.038252801120448154) 69%);
    background: -webkit-linear-gradient(45deg, rgba(216,192,166,1) 40%, rgba(206,164,130,0.038252801120448154) 69%);
    background: linear-gradient(45deg, rgba(216,192,166,1) 40%, rgba(206,164,130,0.038252801120448154) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d8c0a6",endColorstr="#cea482",GradientType=1);}
.middle-tri::after {
    left: -2.25rem;
    bottom: -5px;
}
.top-tri::after {
    left: -6.75rem;
    bottom: -5px;
}
